[package]
name = "hpke-rs"
version = "0.0.2"
authors = ["Franziskus Kiefer <franziskuskiefer@gmail.com>"]
edition = "2018"
license = "MPL-2.0"
documentation = "https://docs.rs/hpke-rs"
description = "HPKE Implementation using Evercrypt"
readme = "README.md"

[dependencies]
evercrypt = { version = "0.0.3" }
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }

[patch.crates-io]
evercrypt = { git = "https://github.com/franziskuskiefer/evercrypt-rust", package = "evercrypt", branch = "0.0.3" }
evercrypt-sys = { git = "https://github.com/franziskuskiefer/evercrypt-rust", package = "evercrypt-sys", branch = "0.0.3" }

[features]
rust-crypto = ["evercrypt/rust-crypto-aes"]
serialization = ["serde", "serde_json", "evercrypt/serialization"]
hazmat = []

[dev-dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
lazy_static = "1.4"
