name: Benchmarks

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-11
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: HPKE Benchmarks
      run: cargo bench manual_benches
    - name: HPKE Rust Crypto Benchmarks
      working-directory: rust_crypto_provider
      run: cargo bench
