name: Build & Test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
    # Only RustCrypto for now, the macOS CI machines are too old
    - uses: actions/checkout@v2
    - name: Run tests w/ RustCrypto
      run: cargo test --verbose --no-default-features --features="rust-crypto"
    - name: Run tests all features w/ RustCrypto
      run: cargo test --verbose --no-default-features --features="rust-crypto serialization"
      # Release
    - name: Build Release w/ RustCrypto
      run: cargo build --release --verbose --no-default-features --features="rust-crypto"
    - name: Run tests all features w/ RustCrypto
      run: cargo test --release --verbose --no-default-features --features="rust-crypto serialization"
    # Evercrypt backend only on non-macOS
    - name: Run tests
      if: matrix.os != 'macos-latest'
      run: cargo test --verbose
    - name: Run tests all features
      if: matrix.os != 'macos-latest'
      run: cargo test --verbose --features="serialization"
      # Release
    - name: Build Release
      if: matrix.os != 'macos-latest'
      run: cargo build --release --verbose
    - name: Run tests all features
      if: matrix.os != 'macos-latest'
      run: cargo test --release --verbose --features="serialization"
    # Apple Silicon
    - if: matrix.os == 'macos-latest'
      run: |
        brew install pkg-config
        sudo rm -Rf /Library/Developer/CommandLineTools/SDKs/*
        sudo xcode-select -s /Applications/Xcode_12.4.app
        rustup target install aarch64-apple-darwin
        rustup target install aarch64-apple-ios
    - name: Build
      run: cargo build --verbose
    - name: Apple Silicon Build
      if: matrix.os == 'macos-latest'
      run: |
        cargo build --target aarch64-apple-darwin --tests --verbose --no-default-features --features="rust-crypto"
        cargo build --release --target aarch64-apple-darwin --tests --verbose --no-default-features --features="rust-crypto"
    # ARM64 iOS
    - name: iOS aarch64
      if: matrix.os == 'macos-latest'
      run: |
        cargo build --target aarch64-apple-ios --tests --verbose --no-default-features --features="rust-crypto"
        cargo build --release --target aarch64-apple-ios --tests --verbose --no-default-features --features="rust-crypto"
  cross-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # 32-bit Linux
          - target: i686-unknown-linux-gnu
            rust: stable
            deps: sudo apt update && sudo apt install gcc-multilib
          # wasm
          - target: wasm32-unknown-unknown
            rust: stable
          # ARM64 Android
          - target: aarch64-linux-android
            rust: stable
          # ARM64 iOS
          - target: aarch64-apple-ios
            rust: stable
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          profile: minimal
          override: true
      - run: ${{ matrix.deps }}
      - run: cargo build --target ${{ matrix.target }} --no-default-features --features="rust-crypto"
      - run: cargo build --target ${{ matrix.target }} --release --no-default-features --features="rust-crypto"

  fuzz:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-fuzz
          version: latest
      - name: Fuzz Base w/ RustCrypto
        run: cargo fuzz run base -- -runs=10000
